<mat-card>
  <mat-card-title>
    Problema do conjunto e seus elementos únicos.
  </mat-card-title>
  <mat-card-subtitle>
    Por definição, um conjunto não pode ter elementos repetidos. <br>
    Faça um programa capaz de ler um número inteiro N (1<=N<=1000) e N inteiros K (-1000<=K<=1000) <br>
    A saída deverá ser um conjunto formado pelos K inteiros. O elementos deverão deverão ser exibidos em ordem
    crescente.
  </mat-card-subtitle>
  <mat-card-content>
    <ng-container [formGroup]="form">
      <mat-form-field>
        <input matInput type="number" formControlName="inputSize" placeholder="Digite um número">
        <mat-error *ngIf="hasErrors(form.controls.inputSize)">
          O número fornecido precisa estar dentro do intervalo (1<= N <=1000)
        </mat-error>
      </mat-form-field>
      <button color="primary" mat-raised-button (click)="createControls()">Ok</button>
      <button mat-button (click)="clear()">Limpar</button>
      <mat-card *ngIf="numbersArray && numbersArray?.length > 0">
        <ng-container formArrayName="numbers">
          <mat-form-field *ngFor="let control of numbersArray?.controls; index as i">
            <input matInput type="number" [formControlName]="i" placeholder="Número #{{i+1}}">
            <mat-error *ngIf="hasErrors(control)">
              O número fornecido precisa estar dentro do intervalo (-1000<= N <=1000)
            </mat-error>
          </mat-form-field>
          <button id="generateButton" mat-raised-button color="warn" (click)="generateSet()">Gerar conjunto</button>
        </ng-container>
      </mat-card>
    </ng-container>
  </mat-card-content>
</mat-card>

